$icon-font-path: '../fonts/';
$button-color: #C8B4BE;

// bower:scss
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

.background {
  position: absolute;
  -webkit-filter: blur(5px);
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.panel {
  background-color: rgba(255,101,64,0.9);
  .content-block-title {
    color: white;
  }
  .list-block ul {
    background-color: transparent;
    .item-content {
      color: #FAFAFA;
    }
  }
}

// This container element gives us the scrollbars we want.
.horizontal {
  width: 100%;
  height: 250px;
  overflow: auto;
  overflow-y: hidden;
}

// table-layout: fixed does a lot of the magic, here. It makes sure that the "table cells" retain the pixel dimensions you want.
.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

// Arranging your content inside the "cells" is as simple as using the vertical-align and text-align properties. Floats work, too.
article {
  padding: 5px;
  width: 290px;
  height: 250px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.content-block-title {
  color: auto;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.index {
  .task {
    letter-spacing: .1em;
    line-height: 4em;
    font-size: 2em;
    font-weight: 200;
    text-transform: uppercase;
    padding: 0;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.2);
  }
  #promo {
    color: white;
    background-color: #0E3D59;
  }
  #dir {
    color: white;
    background-color: #88A61B;
  }
  #nav {
    color: white;
    background-color: #F29F05;
  }
}
.nav-index{
  color: white;
  background-color: #F25C05;
}
.nav-promo{
  color: white;
  background-color: #0E3D59;
}
.nav-dir{
  color: white;
  background-color: #88A61B;
}
.nav-navi{
  color: white;
  background-color: #F29F05;
}
.navbar{
  a:link, a:hover, a:active, a:visited {
    color: white;
  }
}

.map-container {
  margin: 0 auto;
  margin-top: 15%;
  width: 90%;
  height: 400px;
  overflow: scroll;
}
.nav-container {
  margin: 0 auto;
  margin-top: 15%;
  width: 90%;
  height: 400px;
  overflow: scroll;
}
.index>.page-content {
  // margin: 80px 50px;
  text-align: center;
  h1, h2, p {
    color: auto;
  }
  .button-group {
    margin-top: 50px;
    // .button {
    //   color: #FFFFFF;
    //   background-color: rgba(200, 180, 190, 0.7);
    //   border: 0px;
    //   margin-top: 30px;
    // }
  }
}

// #map-container {
//   margin-top: 10px;
//   align: center;
// }
// #map {
//   width: 300px;
//   height: 400px;
//   border: 1px solid white;
// }

form.searchbar {
  margin-top: 0px;
}

// ul#shops-list {
//   margin-top: 6px;
// }
#shopDesc {
  height: 100px;
  overflow-y: scroll;
}

.list-block {
  margin-top: 0px;
}

.card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
}

.promo>.buttons-row>.tab-link {
  margin-top: 44px;
  color: white;
  line-height: 60px;
  height: 60px;
  border: 1px solid white;
}

.promo {
  .page-content {
    padding-top: 0px;
  }
  .card {
    margin: 0px 0px;
  }
  .button {
    background-color: #2F5A94;
  }
  .button.active{
    background-color: rgba(74, 142, 232, 0.7);
  }
}
